.swiper-container{
    width: 100%;
    height: 100vh;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background: transparent;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    bottom: 10px;
    border: 3px solid rgba(255, 255, 255, 0.452);
}
.swiper-pagination-bullet-active{
    background: #fff;
}
.swiper-button-prev{
    display: block;
    margin: 0 2%;
    color: rgba(255, 255, 255, 0.788);
    font-weight: bolder;
}
.swiper-button-next{
    display: block;
    margin: 0 2%;
    color: rgba(255, 255, 255, 0.788);
    font-weight: bolder;
}
.swiper-button-prev:hover,.swiper-button-next:hover{
    color:#fff;
}
:root {
    --swiper-navigation-size: 20px;
}