/* Load danh sách biến */
@import url('./partials/_variables.css');
/* Load font Roboto */
@import url('./fonts.css');
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}

.header{
    width: 100%;
    height: 10%;
    background-color: rgba(245, 222, 179, 0);
    transition-duration: 1s; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.header .header_content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    display: flex;
}
.header .header_content img {
    width: 20%;
    height: auto;
}
.header .header_content .header_list{
  width: 25%;
  margin-top: 2%;
  color: white;
}
.video-banner{

}
.full-height{
    min-height: 550px;
    height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
.video-fit{
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
}
.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: 100vh;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.bg-fill{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.hidden{
  display: none;
}
.img-popup{
    position: absolute;
    padding: 20px;
}
.carousel-cell:nth-child(1)>.img-popup{
    width: 40%;
    top:10px;
    left: 130px;
}
.carousel-cell:nth-child(2)>.img-popup{
    width: 40%;
    top: 26px;
    right: 55px;
    
}
.carousel-cell:nth-child(3)>.img-popup{
    width: 46%;
    left: 40px;
    bottom: 140px;
}
.carousel-cell:nth-child(4)>.img-popup{
    width: 44%;
    left: 40px;
    bottom: 155px;
}
.carousel-cell:nth-child(5)>.img-popup{
    width: 40%;
    min-width: 400px;
    left: 5%;
    top: 10%;
}
.carousel-cell:nth-child(6)>.img-popup{
    width: 40%;
    min-width: 400px;
    left: 5%;
    top: 10%;
}
.carousel-cell:nth-child(7)>.img-popup{
   width: 40%;
    min-width: 400px;
    left: 5%;
    top: 10%;
}
.carousel-cell:nth-child(1){
    position: relative;
    background: url('../media/image/noi-dang-song/bg0.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(2){
    background: url('../media/image/noi-dang-song/bg1.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(3){
    background: url('../media/image/noi-dang-song/bg2.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(4){
    background: url('../media/image/noi-dang-song/bg3.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(5){
    background: url('../media/image/noi-dang-song/bg4.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(6){
    background: url('../media/image/noi-dang-song/bg5.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(7){
    background: url('../media/image/noi-dang-song/bg6.jpg') top center / cover no-repeat;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
@media (max-width:600px){
    .hide-for-small{
        display: none !important;
    }
    .flickity-button{
        display: none;
    }
    .carousel-cell { width: 100%; }
}
.location {
  
    width: 100%;
    height: 100%;
    padding: 2% 0; 
    background-image: url('/assets/img/vitri.gif');
  
}
.location .location_content{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}
.location img {
    margin-top: 10%;
    margin-left: 8%;
    width: 21%;
    height: 60%;
    background-color: white;

}
.location .location_text{
    position: absolute;
    width: 19%;
    top: 30%;
    left: 9%;
    color: #282828;
    font-weight: 300;
    line-height: 1.6;
    font-size: 90%;
    opacity: 1;
    animation-name: location_text;
    animation-duration: 2s;
}
.location .location_text strong {
    margin: 0 1%;
}
@-webkit-keyframes location_text{
    from{top:15%;} to{top:30%}
    from{opacity: 0;} to{opacity: 1;}
}
.location .location_video{
    width: 10%;
    padding: 1% 0.7%;
    border: 0;
    border-radius: 10px;
    position: absolute;
    top: 98.5%;
    left: 13%;
    background-color: #f2c179;
    color: #000;
    font-size: 80%;
    font-weight: 500;
}
.location .location_video:hover{
    background-color: #3d6852;
    color: silver;
    cursor: pointer;
}
 .location_nen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(132, 136, 139, 0.479);
    z-index: 10;
    display: none;
    animation-duration: 3s;
}
.location iframe {
    position: fixed;
    width: 66.8%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
    z-index: 11;
    animation-name: location_video;
    animation-duration: 1s;
}
@-webkit-keyframes location_video{
    from{top: 7%;} to{top:10%;}
}
.location .location_close{
    position: fixed;
    top: 0;
    margin-left: 45%;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 36px;
    line-height: 1.6;
    color: white;
    font-weight: bolder;
    z-index: 12;
    cursor: pointer;
    display: none;
} 
@media only screen and (max-width: 850px){
    .location {
        width: 100%;
        background-position: center;
    }
     .location .location_content img {
         width: 28%;
         height: 100%;
         background: white;
     }
     .location .location_content .location_text {
        position: absolute;
        margin-top: -1%;
        margin-left: 2px;
        font-size: 45%;
     }
     .location .location_video {
         position: absolute;
         top: 90%;
         margin-left: 2%;
         width: 15%;
         font-size: 40%;
     }
}


/* CSS for Khu do thi kieu mau */
.banner_layer {
    position: relative;
    width: 100%;
    min-height: 750px;
    height: 100%;
    color: white;
    background-image: url(../media/image/khu-do-thi-kieu-mau/banner1.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    animation: banner 2s ease;
}

@keyframes banner {
    from {opacity: 0;}
    to {opacity: 1;}
}

.text_img {
    position: relative;
    width: 80%;
    height: 50%;
    margin: 2rem;
    padding-top: 15%;
    left: 8%;
    animation: moveTitle 3s 1 ease;
}

@keyframes moveTitle {
    from {left: 0; opacity: 0;}
    to {left: 8%; opacity: 1;}
}

.text_box {
    position: relative;
    margin: 5rem;
    margin-top: 6rem;
    width: 80%;
    right: 8%;
    display: inline-block;
    animation: moveQuote 3s 1 ease;
}

.blockquote {
    padding: 1.5rem;
    color: #000;
    background-color: var(--background-color);
    border-radius: 1.3rem;
    font-size: 0.9em;
    line-height: 2em;
    font-family: var(--roboto);
}

@keyframes moveQuote {
    from {right: 0; opacity: 0;}
    to {right: 8%; opacity: 1;}
}