/* Load danh sách biến */
@import url('./partials/_variables.css');
/* Load font Roboto */
@import url('./fonts.css');
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}

.header{
    width: 100%;
    height: 10%;
    background-color: rgba(245, 222, 179, 0);
    transition-duration: 1s; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.header .header_content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    display: flex;
}
.header .header_content a {
    width: 15%;
    margin-left: 5%;
}
.header .header_content .header_list{
    display: flex;
  width: 29%;
  margin-top: 2%;
  color: white;
}
.header .header_content .header_list .phone:hover {
    color: #6ddaa14d;
}
.header .header_content .header_list i:hover {
    color: #6ddaa14d;
}
.header .header_content .header_list_ul {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255,255,255,0.95);
    color: black;
    width: 15%;
    height: 100%;
    z-index: 20;
    color: gray;
    animation-name: header_list;
   animation-duration: 1s;
}
.header .header_content .header_list_ul nav ul{
    width: 100%;
    text-align: left;
}
.header .header_content .header_list_ul nav ul li {
    width: 100%;
    padding: 5% 0;
    border-bottom: 1px solid rgba(177, 175, 175, 0.247) ;
    float: left;
    font-size: 16px;
    cursor: pointer;
}
.header .header_content .header_list_ul nav ul li a {
    color: gray;
}
@-webkit-keyframes header_list{
  from{margin-right: -15%;} to {margin-right: 0;}
}
@media only screen and (max-width: 1020px){
    .header .header_content .header_list{
        width: 50%;
    }
    .header .header_content .header_list .phone {
        width: 50%;
    }
    .header .header_content .header_list_ul {
        width: 35%;
    }
}
@media only screen and (max-width: 600px){
    .header .header_content .header_list{
        width: 65%;
    }
    .header .header_content .header_list .phone {
        width: 50%;
    }
    .header .header_content .header_list_ul {
        width: 50%;
    }
}
.video-banner{

}
.full-height{
    min-height: 550px;
    height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
.video-fit{
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
}
.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: 100vh;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.bg-fill{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.hidden{
  display: none;
}
.img-popup{
    position: absolute;
    padding: 20px;
}
.carousel-cell:nth-child(1)>.img-popup{
    width: 40%;
    top:10px;
    left: 130px;
}
.carousel-cell:nth-child(2)>.img-popup{
    width: 40%;
    top: 26px;
    right: 55px;
    
}
.carousel-cell:nth-child(3)>.img-popup{
    width: 46%;
    left: 40px;
    bottom: 140px;
}
.carousel-cell:nth-child(4)>.img-popup{
    width: 44%;
    left: 40px;
    bottom: 155px;
}
.carousel-cell:nth-child(5)>.img-popup{
    width: 40%;
    min-width: 400px;
    left: 5%;
    top: 10%;
}
.carousel-cell:nth-child(6)>.img-popup{
    width: 40%;
    min-width: 400px;
    left: 5%;
    top: 10%;
}
.carousel-cell:nth-child(7)>.img-popup{
   width: 40%;
    min-width: 400px;
    left: 5%;
    top: 10%;
}
.matbang_1{
    width: 100%;
    background-image: url(/assets/img/tt_duan1.jpg) !important;
    background-position: center;
}
.matbang_2{
    width: 100%;
    background-image: url(/assets/img/tt_duan.jpg) !important;
    background-position: center;
}
.matbang_1 img {
    margin-top: 70%;
    animation-name: mat_bang1;
    animation-duration: 1s;
    
}
.matbang_2 img {
    margin-top: 70%;
    margin-left: -130%;
    animation-name: mat_bang2;
    animation-duration: 1s;
}
@-webkit-keyframes mat_bang1{
    from{margin-top: 90%;} to {margin-top: 70%;}
}
@-webkit-keyframes mat_bang2{
    from{margin-top: 90%;} to {margin-top: 70%;}
}
@media only screen and (max-width: 1020px){

    .matbang_1 img {
        width: 100%;

        
    }
    .matbang_2 img {
       width: 100%;
    }
}
@media only screen and (max-width: 900px){

    .matbang_1 img {
        width: 200%;
        margin-left: -70%;
        margin-top: 70%;

        
    }
    .matbang_2 img {
       width: 200%;
    }
}
.carousel-cell:nth-child(1){
    position: relative;
    background: url('../media/image/noi-dang-song/bg0.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(2){
    background: url('../media/image/noi-dang-song/bg1.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(3){
    background: url('../media/image/noi-dang-song/bg2.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(4){
    background: url('../media/image/noi-dang-song/bg3.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(5){
    background: url('../media/image/noi-dang-song/bg4.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(6){
    background: url('../media/image/noi-dang-song/bg5.jpg') top center / cover no-repeat;
}
.carousel-cell:nth-child(7){
    background: url('../media/image/noi-dang-song/bg6.jpg') top center / cover no-repeat;
}

.carousel_two .carousel-cell:nth-child(1){
    background: url('../media/image/dau-tu-phat-trien/bg0.jpg');
}
.carousel_two .carousel-cell:nth-child(2){
    background: url('../media/image/dau-tu-phat-trien/bg1.jpg');
}
.carousel_two .carousel-cell:nth-child(3){
    background: url('../media/image/dau-tu-phat-trien/bg2.jpg');
}
.carousel_two .carousel-cell:nth-child(4){
    background: url('../media/image/dau-tu-phat-trien/bg3.jpg');
}


/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
@media (max-width:600px){
    .hide-for-small{
        display: none !important;
    }
    .flickity-button{
        display: none;
    }
    .carousel-cell { width: 100%; }
}
.location {
  
    width: 100%;
    height: 100%;
    padding: 2% 0; 
    background-image: url('/assets/img/vitri.gif');
  
}
.location .location_content{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}
.location img {
    margin-top: 10%;
    margin-left: 8%;
    width: 21%;
    height: 60%;
    background-color: white;

}
.location .location_text{
    position: absolute;
    width: 19%;
    top: 30%;
    left: 9%;
    color: #282828;
    font-weight: 300;
    line-height: 1.6;
    font-size: 90%;
    opacity: 1;
    animation-name: location_text;
    animation-duration: 2s;
}
.location .location_text strong {
    margin: 0 1%;
}
@-webkit-keyframes location_text{
    from{top:15%;} to{top:30%}
    from{opacity: 0;} to{opacity: 1;}
}
.location .location_video{
    width: 10%;
    padding: 1% 0.7%;
    border: 0;
    border-radius: 10px;
    position: absolute;
    top: 98.5%;
    left: 13%;
    background-color: #f2c179;
    color: #000;
    font-size: 80%;
    font-weight: 500;
}
.location .location_video:hover{
    background-color: #3d6852;
    color: silver;
    cursor: pointer;
}
 .location_nen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(132, 136, 139, 0.7);
    z-index: 10;
    display: none;
    animation-duration: 3s;
}
.location iframe {
    position: fixed;
    width: 66.8%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
    z-index: 11;
    animation-name: location_video;
    animation-duration: 1s;
}
@-webkit-keyframes location_video{
    from{top: 7%;} to{top:10%;}
}
.location .location_close{
    position: fixed;
    top: 0;
    margin-left: 45%;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 36px;
    line-height: 1.6;
    color: white;
    font-weight: bolder;
    z-index: 12;
    cursor: pointer;
    display: none;
} 
@media only screen and (max-width: 1400px){
    .location {
        width: 100%;
        background-position: center;
    }
     .location .location_content img {
         width: 28%;
         height: 100%;
         background: white;
     }
     .location .location_content .location_text {
        position: absolute;
        margin-top: -1%;
        margin-left: 2px;
        font-size: 80%;
     }
     .location .location_video {
         position: absolute;
         top: 90%;
         margin-left: 2%;
         width: 15%;
         font-size: 40%;
     }
}
@media only screen and (max-width: 1160px)
{
    .location {
        width: 100%;
        background-position: center;
    }
     .location .location_content img {
         width: 28%;
         height: 100%;
         background: white;
     }
     .location .location_content .location_text {
        position: absolute;
        margin-top: -1%;
        margin-left: 2px;
        font-size: 70%;
     }
}
@media only screen and (max-width: 1020px)
{
    .location {
        width: 100%;
        background-position: center;
    }
     .location .location_content img {
         width: 28%;
         height: 100%;
         background: white;
     }
     .location .location_content .location_text {
        position: absolute;
        margin-top: -1%;
        margin-left: 2px;
        font-size: 50%;
     }
}
@media only screen and (max-width: 730px)
{
    .location {
        width: 100%;
        background-position: center;
    }
     .location .location_content img {
         width: 28%;
         height: 100%;
         background: white;
     }
     .location .location_content .location_text {
        position: absolute;
        margin-top: -1%;
        margin-left: 2px;
        font-size: 35%;
     }
}
/* CSS for Khu do thi kieu mau */
.banner_layer {
    position: relative;
    width: 100%;
    min-height: 750px;
    height: 100%;
    color: white;
    background-image: url(../media/image/khu-do-thi-kieu-mau/banner1.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    animation: banner 2s ease;
}

@keyframes banner {
    from {opacity: 0;}
    to {opacity: 1;}
}

.text_img {
    position: relative;
    width: 80%;
    height: 50%;
    margin: 2rem;
    padding-top: 15%;
    left: 8%;
    opacity: 0;
}

@keyframes moveTitle {
    from {left: 0; opacity: 0;}
    to {left: 8%; opacity: 1;}
}

.text_box {
    position: relative;
    margin: 5rem;
    margin-top: 6rem;
    width: 80%;
    right: 8%;
    display: inline-block;
    opacity: 0;
}

.text_box.trans_quote {
    animation: moveQuote 2s 1 ease;
    opacity: 1;
}

.text_img.trans_text {
    animation: moveTitle 2s 1 ease;
    opacity: 1;
}

.blockquote {
    padding: 1.5rem;
    color: #000;
    background-color: var(--background-color);
    border-radius: 1.3rem;
    font-size: 0.9em;
    line-height: 2em;
    font-family: var(--roboto);
}

@keyframes moveQuote {
    from {right: 0; opacity: 0;}
    to {right: 8%; opacity: 1;}
}
.scrolltotop {
    position: fixed;
    display: flex;
    width: 45px;
    height: 45px;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 1000;
    border: 2px solid white;
    border-radius: 4rem;
    transition: 1s;
    opacity: 0;
   
}

.btn_scrolltotop i {
    padding: 13px;
    color: rgba(5, 78, 5, 0.76);
}

.scrolltotop.show {
    transition: 1s;
    opacity: 1;
}
.mess{
    position: fixed;
    top: 35%;
    right: 0;
    width: 45px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 1.6em;
    line-height: 1.3;
    width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
    color: #fff;
    font-family: "Noto Serif", sans-serif;
}

section {
    display: block;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

.section-contact {
    padding: 30px 0;
    position: relative;
    min-height: auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-align: center;
    align-items: center;
}

#section-bg {
    padding-top: 30px;
    padding-bottom: 30px;
}

#section-bg .contact-bg.bg-loaded {
    background-image: url(http://mauweb.monamedia.net/bariacitygate/wp-content/uploads/2018/12/tuyet_tac.jpg);
}

.section-contact .bg-loaded {
    opacity: 1;
}

.section-contact .bg {
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

 #section-bg .contact-bg-overlay {
    background-color: rgba(29, 92, 53, 0.9);
}

.section-contact .contact-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}

.section-contact .fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.section-contact .contact-bg {
    width: 100%;
    overflow: hidden;
}

#section-bg .section-bg-overlay {
    background-color: rgba(29, 92, 53, 0.9);
}

.section-contact .relative {
    position: relative !important;
}

.section-contact .section-content {
    z-index: 1;
    width: 100%;
}

.section-contact .row {
    max-width: 1260px;
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.section-contact .row .gallery, .row .row:not(.row-collapse), .container .row:not(.row-collapse), .lightbox-content .row:not(.row-collapse) {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    width: auto;
}

.section-contact .align-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.section-contact .col {
    position: relative;
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 850px) {
    .section-contact .large-12 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media screen and (min-width: 850px) {
    .section-contact .large-8 {
        max-width: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    }
}

@media screen and (min-width: 850px) {
    .section-contact .large-6 {
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 850px) {
    .section-contact .large-4 {
        max-width: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    }
}

.section-contact .cols-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0;
}

.section-contact .light, .light p, .light td {
    color: #f1f1f1;
}

.section-contact .col-1 {
    width: 8.33%;
}

.section-contact .col-2 {
    width: 16.66%;
}

.section-contact .col-3 {
    width: 25%;
}

.section-contact .col-4 {
    width: 33.33%;
}

.section-contact .col-5 {
    width: 41.66%;
}

.section-contact .col-6 {
    width: 50%;
}

.section-contact .col-7 {
    width: 58.33%;
}

.section-contact .col-8 {
    width: 66.66%;
}

.section-contact .col-9 {
    width: 75%;
}

.section-contact .col-10 {
    width: 83.33%;
}

.section-contact .col-11 {
    width: 91.66%;
}

.section-contact .col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px 30px;
}

#section-bg p, #section-bg form {
    margin-bottom: 1.3em;
}

#section-bg span {
    font-size: 90%;
}

.section-contact .form-contact {
    position: relative;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

.section-contact .light .form-contact {
    color: #FFF;
}

.section-contact .text-left {
    text-align: left;
}

.section-contact .form-contact {
    width: 780px;
    margin: auto;
    max-width: 100%;
}

.section-contact .form-contact input {
    margin-bottom: 0;
}

input[type=text], textarea {
    width: 100%;
    padding: 0 .75em;
    margin: 5px 0;
    height: 2.507em;
    font-size: .97em;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0px;
}

.section-contact textarea {
    margin-bottom: 0;
}

.section-contact textarea {
    padding-top: 0.7em;
    min-height: 120px;
}

input[type=submit] {
    background-color: #0f8b64;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    line-height: 2.4em;
    min-height: 2.5em;
    max-width: 6.5em;
    padding: 0 1.2em;
    font-size: .97em;
}

input[type=submit]:hover {
    background-color: #10512a;
}

.section-contact .form-contact input {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0%);
}