/* Load danh sách biến */
@import url('./partials/_variables.css');
/* Load font Roboto */
@import url('./fonts.css');

.video-banner{

}
.full-height{
    min-height: 550px;
    height: 100vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
.video-fit{
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
}
.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: 100vh;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.bg-fill{
    resize: both;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.hidden{
  display: none;
}
.carousel-cell:nth-child(1){
    background: url('../media/image/noi-dang-song/bg0.jpg');
}
.carousel-cell:nth-child(2){
    background: url('../media/image/noi-dang-song/bg1.jpg');
}
.carousel-cell:nth-child(3){
    background: url('../media/image/noi-dang-song/bg2.jpg');
}
.carousel-cell:nth-child(4){
    background: url('../media/image/noi-dang-song/bg3.jpg');
}
.carousel-cell:nth-child(5){
    background: url('../media/image/noi-dang-song/bg4.jpg');
}
.carousel-cell:nth-child(6){
    background: url('../media/image/noi-dang-song/bg5.jpg');
}
.carousel-cell:nth-child(7){
    background: url('../media/image/noi-dang-song/bg6.jpg');
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
@media (max-width:600px){
    .hide-for-small{
        display: none !important;
    }
    .flickity-button{
        display: none;
    }
}
